input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 50px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 50px;
  padding: 0;
  width: 50px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 50px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.mark-out-block {

}

.mark-out-block {
  border: 1px solid lightgray;
}

.mark-out-block:hover {
  border: 1px solid red;
}


