<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Заголовок{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>