{% extends 'base.html' %}


{% block title %}
    Заказ деталей - Выбор набора
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="h3 col-12 text-center my-3">Выберите набор</div>
        </div>

        <div class="row d-flex justify-content-around p-1">
            <div class=" col-12 col-lg-5 text-center p-0 my-2">
                <div class="shadow mark-out-block rounded">
                    <img style="max-height: 180px;" src="{{ url_for('static', filename='img/ev3-logo.png') }}" alt="">
                    <a href="/ev3/{{callback}}" class="stretched-link"></a>
                </div>

            </div>
            <div class="col-12 col-lg-5 text-center p-0 my-2 ">
                <div class="shadow mark-out-block rounded">
                    <img style="max-height: 180px;" src="{{ url_for('static', filename='img/wedo2-logo.jpg') }}" alt="">
                    <a href="/wedo2/{{callback}}" class="stretched-link"></a>
                </div>

            </div>
        </div>


    </div>
{% endblock %}