{% extends 'base.html' %}

{% block title %}
    Результат
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4 class="col-12 text-center">{{request_message}}</h4>
        </div>
        <div class="row">
            <h5 class="col-12 text-center">Ваш заказ</h5>
        </div>
        <div class="row m-4">
            <a href="/{{ callback }}" class="shadow p-3 btn btn-primary">Новый заказ</a>
        </div>
        {% if details %}
            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Картинка</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во</th>
                </tr>

                </thead>
                <tbody>

                {% for detail in details %}
                    <tr class="text-center">
                        <td><img height="40" src="{{ detail.image }}" alt=""></td>
                        <td>{{ detail.name }}</td>
                        <td>{{ detail.need_count }} шт.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}