{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-2">
            <h4 class="col-12 text-center">Заказ для набора {{ type }}</h4>
        </div>
        <div class="row">
            <a href="/{{ callback }}" class="btn btn-primary btn-block">К выбору набора</a>
        </div>

        <!-- Форма заказа деталей !-->
        <form action="" method="POST" class="py-5">
            <div class="row">
                <h4 class="text-center col-12"><label for="set_number">Номер набора</label></h4>
            </div>
            <div class="form-group">
                <input id="set_number" type="number" name="set_number" class="form-control" required>
            </div>

            {% for detail in details %}
                {% if detail.del %}<hr class="m-5 bg-dark col-10 mx-auto">{% endif %}
                <div class="form-group row border" style="">
                    <div class="col-6 col-md-4 text-center">
                        <img height="80" src="{{ url_for('static', filename='img/'+type+'/'+detail.image) }}" alt="">
                    </div>
                    <label for="{{ detail.id }}" class="col-6 col-md-4 text-center pt-3">{{ detail.name }}</label>
                    <div class="input-group col-12 col-md-4 d-flex justify-content-center">
                        <input type="button" value="-" class="button-minus" data-field="{{ detail.id }}">
                        <input type="number" id="{{ detail.id }}" step="1" min="0"
                               max="{{ detail.count }}" value="{{ detail.count }}" name="{{ detail.id }}"
                               class="quantity-field" readonly>
                        <input type="button" value="+" class="button-plus" data-field="{{ detail.id }}">
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-block">Заказать</button>
        </form>
    </div>

    <script>
        function incrementValue(e) {
            e.preventDefault();
            let fieldName = $(e.target).data('field');
            let parent = $(e.target).closest('div');
            let currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);
            let max = parseInt(parent.find('input[name=' + fieldName + ']').attr('max'));
            console.log(max);
            if (!isNaN(currentVal)) {
                if (currentVal < max) {
                    parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
                }
            } else {
                parent.find('input[name=' + fieldName + ']').val(0);
            }
        }

        function decrementValue(e) {
            e.preventDefault();
            let fieldName = $(e.target).data('field');
            let parent = $(e.target).closest('div');
            let currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

            if (!isNaN(currentVal) && currentVal > 0) {
                parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
            } else {
                parent.find('input[name=' + fieldName + ']').val(0);
            }
        }

        let $input = $('.input-group');
        $input.on('click', '.button-plus', function (e) {
            incrementValue(e);
        });

        $input.on('click', '.button-minus', function (e) {
            decrementValue(e);
        });
    </script>
{% endblock %}